<launch>
    <node name="openpose" pkg="openpose_ros" type="openpose_ros_demo" args="/kinect2/sd/image_color_rect /kinect2/sd/image_depth_rect 000"/>
    <node name="bio_ik_service_launch" pkg="bio_ik_service" type="bio_ik_service"/>
    <node name="wrist_publisher" pkg="mrn_movo" type="wrist_publisher.py"/>
    <node name="chest_publisher" pkg="mrn_movo" type="chest_publisher.py"/>
    <node name="point_to_IK" pkg="mrn_movo" type="pointToIK.py"/>
</launch>
